@inherits LayoutComponentBase

@inject KitabhChautariAuthStateProvider KitabhChautariAuthStateProvider

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @if (KitabhChautariAuthStateProvider.IsInitializing)
            {
                <p> Initializning state...</p>
            }
            else
            {
                @Body
            }
        </article>
    </main>
</div>

@code {
    protected override  async Task OnInitializedAsync()
    {

        while (KitabhChautariAuthStateProvider.IsInitializing)
        {
            await Task.Delay(500);
        }
    }
}